.statistics {
  width: 350px;
}
.title {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}
.item {
  border: 1px solid gray;
  padding: 5px;
  width: 60px;
  display: flex;
  flex-direction: column;
}
span {
  margin: 0 auto;
}
